.App {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
}

.App-nav a {
  margin: 1rem;
  text-decoration: none;
  color: #fff;
  opacity: 0.4;
}

.App-nav a:hover {
  opacity: 0.6;
}

.App-nav img {
  display: block;
  width: 24px;
  height: 24px;
}

.App-placeholder {
  width: 640px;
  max-width: 100%;
}
